# Supabase Configuration
VITE_SUPABASE_URL=https://rxqjhbwxozepqlwlwvtr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4cWpoYnd4b3plcHFsd2x3dnRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MDY2NjAsImV4cCI6MjA5NDI4MjY2MH0.Y7_mdr4mvdWwIywCEr_dKwkNXtpOpOeutkO9Zhm4t9k

# Fawaterk Payment API Configuration
VITE_FAWATERK_API_KEY=dba6b56df6d80dec4ea3c025f434c651b7d158f7a3fd8c70ad


# Gemini API Key (Server-side only)
GEMINI_API_KEY=
